
<section class="container">
    <gc-title text="Inicio de sesión"></gc-title>
    <gc-text text="Inicia sesión con tu usuario y empieza a controlar tus ingresos y tus gastos."></gc-text>
    <form action="" class="login-form">
        <gc-input
            placeholder="Usuario"
            typeInput="text"
            claseVariacion=""
            idComponent="user"
            description="">
        </gc-input>
        <gc-input
            placeholder="Contraseña"
            typeInput="password"
            claseVariacion=""
            idComponent="password"
            description=""
            icon="eyeOn"
            >
        </gc-input>

        <gc-button 
            text="Iniciar sesión"
        ></gc-button>
    </form>
</section>